* {
    box-sizing: border-box;
    padding: 0;
    margin: 2%;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #666666;

}
body {
    background:#cbd4cf;
    margin: 0,20px,20px,20px;
    font-family: 'Sansita', sans-serif;
}

.buttons {
    margin: 40px 30px;
    font-size:  30px;
    padding: 150px;
    border-radius: 175px;
}

.buttons:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.heading {
    margin-bottom: 20px;
    font-family: 'Sansita', sans-serif;
}

.page-header {
    margin-top: 2%;
    border-bottom: solid 4px #765a71;


}
.searchBtn {
    display: block;
    width: 100%;
    margin-top: 2%;
    }

/* .row {
   margin-top: 3%; 
} */

.card{
    border: solid 4px #765a71;
}
.card-header{
 color: #967490;

}
/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

input {
    height: 30px;
    margin: 12px 0px;
    padding: 10px;
    width: 300px;
  }

  .test {
    height: 450px;
    width: 450px;
    border-radius: 15px 50px; 
    background-size: cover;
    background-position: center;
    border: #765a71 3px solid;
}

.test:hover{
    opacity: 0.7;
}


.overlay-text {
    position: relative;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: #fff;
    font-weight: bold;
    letter-spacing: -1px;
    background: rgba(0, 0, 0, 0.7);
    top: 50% ;
    /* width: 100%; */
}

a {
    text-decoration: none;
    color: inherit;
}


nav {
    margin-top: -1%;
    padding: 0%;
    font-weight: bold;
    text-decoration:none;
}

.dropbtn {
    background-color: #765a71;
    color: white;
    font-family: 'Sansita', sans-serif;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #6c757d;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #666666;
    padding: 4px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Sansita', sans-serif;
  }
  
  .dropdown-content a:hover {background-color: #ddd}
  
  .show {display:block;}



  