* {
    box-sizing: border-box;
    padding: 0;
    margin: 2%;
}

body {
    background: linear-gradient(270deg, #aee0ec, #99e3f3);
    margin: 20px;
    font-family: 'Sansita', sans-serif;
}

.buttons {
    margin: 40px 30px;
    font-size:  30px;
    padding: 150px;
    border-radius: 175px;
}

.buttons:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.heading {
    margin-bottom: 20px;
    font-family: 'Sansita', sans-serif;
    font-size: 3rem;
}

.page-header {
    margin-top: 2%;
    padding-bottom: 3%;
    border-bottom: solid 2px #3c8b9c;


}
.searchBtn {
    display: block;
    width: 100%;
    margin-top: 2%;
    }

.row {
   margin-top: 3%; 
}

.recipe-container .places-container{
    margin-left: 2%;
}