* {
    box-sizing: border-box;
    padding: 0;
    margin: 2%;
}

h1 {
    font-size: 4rem;
    font-weight: bold;

}
body {
    background: linear-gradient(270deg, #aee0ec, #99e3f3);
    margin: 20px;
    font-family: 'Sansita', sans-serif;
}

.buttons {
    margin: 40px 30px;
    font-size:  30px;
    padding: 150px;
    border-radius: 175px;
}

.buttons:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.heading {
    margin-bottom: 20px;
    font-family: 'Sansita', sans-serif;
}

.page-header {
    margin-top: 2%;
    padding-bottom: 3%;
    border-bottom: solid 2px #3c8b9c;


}
.searchBtn {
    display: block;
    width: 100%;
    margin-top: 2%;
    }

.row {
   margin-top: 3%; 
}

.recipe-container .places-container{
    margin-left: 2%;
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

input {
    height: 30px;
    margin: 12px 0px;
    padding: 10px;
    width: 300px;
  }

  .test {
    height: 450px;
    width: 450px;
    border-radius: 15px 50px; 
    background-size: cover;
    background-position: center;
    border: #000 solid;
}
.overlay-text {
    position: relative;
    text-align: center;
    font-size: 24px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: #fff;
    font-weight: bold;
    letter-spacing: -1px;
    background: rgba(0, 0, 0, 0.7);
    top: 50% ;
    /* width: 100%; */
    
  }

  a {
    display: inline-block;
    text-decoration: none;
}