* {
    box-sizing: border-box;
    padding: 0;
    margin: 2%;
}

/* background header image */
.heading-image:after {
    content:'';
    background: url('../images/ORFF0J0.jpg') no-repeat center center;
    position: absolute;
    top:0px;
    left: 0px;
    width:100%;
    height:100%;
    z-index:-3;
    opacity: 0.4; 
    background-size: cover;
    background-position: center;
    border: solid 4px #765a71;
    border-radius: 15px 50px;
}
.heading-image {
    position: relative;
    padding:10px;
    font-weight:bold;
    text-align:center;
}

/* main 'Satisfy' header  */
h1 {
    font-size: 6rem;
    font-weight: bold;
    color: #765a71;
    font-family: 'Sansita', sans-serif;
}

/* tagline styling  */
.catch {

    background-color: #967490;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 50px 50px 50px 50px;
    border: solid 4px #765a71;
    font-size: 1.5rem;
}

body {
    background:#E5E1E6;
    margin: 0,20px,20px,20px;
    font-family: 'Sansita', sans-serif;
}

.page-header {
    margin-top: 2%;

}
.searchBtn {
    display: block;
    width: 100%;
    margin-top: 2%;
    }

.card{
    border: solid 4px #765a71;
}
.card-header{
 color: #967490;

}

input {
    height: 30px;
    margin: 12px 0px;
    padding: 10px;
    width: 300px;
  }

  /* Front page image buttons */
  .index-image {
    height: 450px;
    width: 450px;
    border-radius: 15px 50px; 
    background-size: cover;
    background-position: center;
    border: #765a71 3px solid;
}

.index-image:hover{
    opacity: 0.7;
}

/* homepage image overlay text */
.overlay-text {
    position: relative;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: #fff;
    font-weight: bold;
    letter-spacing: -1px;
    background: rgba(0, 0, 0, 0.7);
    top: 50% ;
    /* width: 100%; */
}

/* anchor links */
a {
    text-decoration: none;
    color: inherit;
}

/* Navigation Bar & dropdown */
nav {
    margin-top: -1%;
    padding: 0%;
    font-weight: bold;
    text-decoration:none;
}

.dropbtn {
    background-color: #765a71;
    color: rgb(0, 0, 0);
    font-family: 'Sansita', sans-serif;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #6c757d;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #666666;
    padding: 4px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Sansita', sans-serif;
  }
  
  .dropdown-content a:hover {background-color: #ddd}
  
  .show {display:block;}



  